
.nd_booking_bg_greydark, #nd_booking_slider_range .ui-slider-range, #nd_booking_slider_range .ui-slider-handle, .ui-tooltip.nd_booking_tooltip_jquery_content, .ui-datepicker, .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
        background-color: #1c1c1d;
}
.nd_booking_bg_greydark_2, .ui-datepicker .ui-datepicker-header {
  background-color: #151516;
}
  form .ui-datepicker-inline{
    color: #a3a3a3;
  }
  .ui-datepicker td span, .ui-datepicker td a{
    color: #fff;
  }
  .ui-datepicker td{
    color: #a3a3a3;
  }
